# Ignore python virtual environment
myenv
.venv

# Ignore all files in the model folder (Output files from the model training process)
models/
models/Accuracy/
plots/

# Ignore all slurm output files
*.out
pi.log
