# Ignore python virtual environment
myenv
.venv

# Ignore all files in the model folder (Output files from the model training process)
model/
model/Accuracy/

# Ignore all slurm output files
*.out
*.log